@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Фоновый цвет (жемчужно-серый) и цвет текста по умолчанию */
    @apply bg-pearl-gray text-slate-900 antialiased;
    
    /* Блокировка выделения контента */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* Разрешаем выделение только внутри инпутов */
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
